@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15 23 41);
    color: white;
    font-family: "Poppins", sans-serif;
}

/* Default styles for the navbar */
.navbar {
    position: fixed;
    top: -80px; /* Initially hidden */
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(10, 18, 36);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: top 0.5s ease-in-out; /* Smooth sliding effect */
    z-index: 1000;
}

/* Visible navbar when scrolled */
.navbar.visible {
    top: 0;
}



nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover,
nav ul li a.active{
    color: rgb(125, 125, 235);
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 45px 0px;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 2rem;
}

.buttons{
    padding: 30px 0px;
}

.btn{
    padding: 8px;
    background: #1e2176;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
}

.btn:hover{
    color: rgb(125, 125, 235);
}

.rightsection img {
    margin: 50px 0px;
}

.textpurple {
    color: rgb(152, 82, 218);
}

.textgrey{
    color: grey;
}

#element{
    color: rgb(152, 82, 218);
}

main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 20px 84px;
    margin-top: 115px;
}

.secondsection{
    display: flex;
}

.textcenter{
    text-align: center;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    color: blanchedalmond;
    margin-bottom: 50px;
}

.mainbox1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 2px solid white;
    margin: 30px 20px;
    margin-left: 130px;
    border-radius: 20px;
}

.mainbox2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 2px solid white;
    margin: 30px 20px;
    margin-right: 130px;
    border-radius: 20px;
}

.columntext h3{
    color: rgb(89, 89, 172);
}

.columntext p{
    font-size: 14px;
}

.thumbnail img{
    width: 110px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px 10px;
    margin-top: 20px;
}

.thirdsection hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 50px 84px;
}

.mainbox3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 50px;
    padding: auto;
}

.coderpic img{
    height: 375px;
    width: 615px;
}



.textfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;

}

